body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

header {
    background: MediumSeaGreen;
    color: black;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    color: whitesmoke;
    font-weight: 400;
    transition: 0.3s ease;
}

.header h1 {
    color: yellow;
    text-shadow: 0 0 25px, 0 0 20px yellow;
    transform: scale(1.1);
}

span {
    color: lightcyan;
}

header p {
    font-size: 1.2rem;
    margin: 0;
    color: aqua;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: whitesmoke;
    transition: 0.5s ease;
}

section {
    padding: 2rem;
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

section img,
section video {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

footer {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}
